{
  "extends": ["twilio", "twilio-react"],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "import/no-unused-modules": 0,
    "react/display-name": 0,
    "sonarjs/no-duplicate-string": 0
  }
}
